{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container" style="padding: 50px">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group" style="padding-top: 15px">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p style="color: red" class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br />
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    </div>
{% endblock %}
