{% extends 'base.html' %}
{% load static %}

{% block extrastylesheets %}
    <link rel="stylesheet" href="{% static 'css/cards_manager.css' %}">
{% endblock %}

{% block content %}
    <h1>
        {{ node.name }}
    </h1>
    <div style="text-align: center">
        <a type="button" class="btn btn-primary btn-lg btn-block" href={% url 'nodes:graph' slug=node.slug %}>Visualize</a>
    </div>
    <br>
    <div class="container">
        <h2>Components</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card card-scroll scrollbar-deep-purple bordered-deep-purple thin">
                    <div class="card-body">
                        <h4 id="section1"><strong>SHOWN</strong></h4>
                        {% for component in components_shown %}
                            {% if forloop.counter|add:"-1"|divisibleby:3 %}
                                <div style="padding-bottom: 10px" class="row">
                            {% endif %}
                        <div class="col-md-4">
                            <p class="bs-modal clickable" data-form-url="{% url 'nodes:component-update' pk=component.id node_id=node.id %}">{{ component.name }}</p>
                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card card-scroll scrollbar-deep-purple bordered-deep-purple thin">
                    <div class="card-body">
                        <h4 id="section1"><strong>HIDDEN</strong></h4>
                        {% for component in components_hidden %}
                            {% if forloop.counter|add:"-1"|divisibleby:3 %}
                                <div style="padding-bottom: 10px" class="row">
                            {% endif %}
                        <div class="col-md-4">
                            <p class="bs-modal clickable" data-form-url="{% url 'nodes:component-update' pk=component.id node_id=node.id %}">{{ component.name }}</p>
                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data("form-url"),
                });
            });
        });
    </script>
{% endblock %}
